* {
    margin: 0.5;
    padding: 3;
    font-family: sans-serif;
}

h1 {
    font-weight: bold;
    font-size: 50px;
}

h1.blue {
    font-weight: bold;
    font-size: 50px;
    color: blue;
}

img {
    float: left;
    height: 300px;
    padding: 0 10px 0 0;
}

.book_list {
    text-align: center;
}

.homepage {
    text-align: center;
    margin: 1;
    float: center;
}
.homepage input {
    height: 40px;
    width: 400px;
}

.homepage button {
    height: 30px;
    width: 80px;
}
h2.catelog {
    margin: 2px;
}