* {
    margin: 0.5;
    padding: 3;
    font-family: sans-serif;
}

h1 {
    font-weight: bold;
    font-size: 50px;
    padding-left: 20px;
}

h1.blue {
    font-weight: bold;
    font-size: 50px;
    color: blue;
}

img {
    float: left;
    height: 350px;
    padding: 0 10px 10px 5px;
}

.book_list {
    text-align: center;
}

.homepage {
    text-align: center;
    margin: 1;
    float: center;
}
.homepage input {
    height: 40px;
    width: 400px;
}

.homepage button {
    height: 30px;
    width: 80px;
}
h2.catelog {
    margin: 2px;
}

.books {
    padding-left: 25px;
}

/*page.php classes*/
h1.booktitle {
    padding-left: 10px;
}

.container {
    padding-left: 15px;
}